@charset "utf-8";

body {background:#386280;}

.about div, .skills div, .education div  {color: #fff;}
.about>div>div:nth-child(1) {font-size: 20px;}
.about>div>div:nth-child(2) {font-size: 18px; line-height: 30px;}
.about h4, .skills h4, .education h4, .portfolio h4 {color: rgb(255, 228, 73);}

.skills>div>div:nth-child(1), .skills>div>div:nth-child(3) {font-size: 20px; }
.skills>div>div:nth-child(2), .skills>div>div:nth-child(4) {font-size: 18px; line-height: 30px;}

.education>div>div:nth-child(1) {font-size: 20px;}
.education>div>div:nth-child(2) {font-size: 18px; line-height: 30px;}

.portfolio .card {position: relative; overflow: hidden; cursor: pointer;}
.portfolio .card-title {font-size: 18px;}
.portfolio .card-text {font-size: 14px;}
.portfolio .card-footer {transition: transform 0.5s ease-out; height: 49px; position: absolute; bottom: 0; left: 0; width: 100%;}
.bright50 {filter:brightness(50%);}
.card-img-top {transition: 1s;}

.show-card {animation: show-card forwards 0.5s}
@keyframes show-card {
    0% {background-color: #f7f7f7;}
    100% {height: 48%; background-color: #ddd;}
}
.hide-card {animation: hide-card forwards 0.5s}
@keyframes hide-card {
    0% {height: 48%; background-color: #ddd;}
    100% {background-color: #f7f7f7;}
}

/* svg {transition:transform 0.5s ease-out;} */

/* #svgWrap path:nth-child(1) {
    
    stroke-linecap:round;
    stroke-dasharray: 1440;
    stroke-dashoffset: 1440;
    animation: txt-html 3s linear forwards;
}

@keyframes txt-html {
    0% {stroke-dashoffset: 1440;}
    100% {stroke-dashoffset: 0;}
} */
@media screen and (max-width:992px){
    .portfolio .card-title {font-size: 0.8em;}
    .portfolio .card-text {font-size: 0.8em;}
}
@media screen and (max-width:768px){
    .container h4 {font-size: 0.9em;}
    .container .row .col-3 {font-size: 0.9em;}
    .container .row .col-9 {font-size: 0.9em;}
}